footer code {
  max-width: 512px;
  display: block;
}

.control-panel fieldset {
  display: inline-block;
}

.control-panel .item-generator label {
  display: block;
}

.control-panel label {
  display: inline-block;
  width: 100px;
}

.control-panel input {
  width: 100px;
  text-align: center;
}

.item {
  display: inline-block;
  border: 1px black solid;
}

.item.dragged {
  border: 1px black dashed;
}
