footer code {
  max-width: 512px;
  display: block;
}

.control-panel fieldset {
  display: inline-block;
  height: 100%;
}

.control-panel .generate-items {
  display: inline-block;
  width: 100px;
}

.control-panel label {
  display: inline-block;
  width: 100px;
}

.control-panel input {
  width: 100px;
  text-align: center;
}
.control-panel h2 {
  margin : 5px;
}

.item {
  display: inline-block;
  border: 1px black solid;
}

.item.dragged {
  border: 1px black dashed;
}
