* {
  font-family: arial;
}

div {
  box-sizing: border-box;
}


/* =========================
   Title
   ========================= */


.title h1 {
  text-align: center;
  margin: 0.5em 0 0.25em;
}



/* =========================
   Footer
   ========================= */


footer code {
  max-width: 512px;
  display: block;
}



/* =========================
   Control Panel 
   ========================= */

.show-control-panel {
  width: 7em;
}

.control-panel, .show-control-panel {
  margin: 0.5em auto 1em;
  padding: 0 0.5em 0.5em;
}

.control-panel {
  width: 50%;
  min-width: 300px;
  border: 1px solid black;
  position: relative;
}


.control-panel h2, .control-panel h3 {
  margin: 0.5em 0 0.25em;
  text-align: center;
}

.control-panel label {
  font-size: 0.75em;
}

.control-panel .hide-control-panel {
  position: absolute;
  padding: 0.25em;
  right: 1em;
  top: 1em;
}

.control-panel .hide-control-panel {
  cursor: pointer;
}

.control-panel .item-generator {
  display: flex;
  justify-content: center;
}

.control-panel .item-generator input {
  width: 5em;
}

.control-panel .options-categories {
  display: flex;
  justify-content: space-evenly;
}

.control-panel .options-category {
  width: 30%;
  margin: 0px 5px;
  padding: 0.25em;
  border: 1px solid black;
}

.control-panel .mode-control label {
  display: block;
}

.control-panel .item-margins input,
.control-panel .fixed-field input,
.control-panel .min-max-field input {
  width: 3.5em;
  text-align: center;
}

.control-panel .random-fields,
.control-panel .margin-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.control-panel .min-max-field label,
.control-panel .min-max-field input,
.control-panel .margin-field label,
.control-panel .margin-field input {
  display: block;
  text-align: center;
}


/* =========================
   Items
   ========================= */

.dynamic-list-item {
  display: inline-block;
  border: 1px black solid;
}

.dynamic-list-item.dragged {
  border: 1px black dashed;
}
